* {
    /* @color/background と一致している必要有 */
    background-color: #eeeeee;
}

.image-paragraph {
    text-align: center;
    /* border: 3px solid red; */
}

.limit-image {
    max-width: 98%;
    /* border: 3px solid blue; */
}

.body-text {
    font-weight:bold;
}

.step-content {
    margin: 5px;
}

.step-section {
    margin: 20px 0px;
}
