body {
  /*padding-top: 50px;*/
	font-family: Meiryo, メイリオ, sans-serif;
	font-weight: 400 !important;
	letter-spacing: 0.1em;
}
.guide-template {
  padding: 0px;
  text-align: center;
}
.text_area{
	padding: 0.3em;
}
h1.page_title{
	font-size: 15px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: bold;
}
p.exp{
	font-size: 12px;
}
p.comment{
	font-size: 11px;
	color: #747272;
	margin-top: 0.5em;
}
li.point{
	font-size: 12px;
	text-align: left;
}
.container{
	padding: 0px;
}
span.link_text{
	font-weight: bold;
	font-size: 13px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 480px) {
	h1.page_title{
	font-size: 18px;
}
	p.exp{
	font-size: 14px;
}
	p.comment{
	font-size: 13px;
}
	li.point{
	font-size: 14px;
}
	span.link_text{
	font-size: 15px;
}

}